/* GENERAL STYLE */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container {
    width: 76%;
    margin: 30px auto;
}

ul {
    list-style: none;
}

li {
    display: inline-block;
    width: 30%;
    text-align: center;
}

.product-gallery {
    height: 800px;
    width: 470px;
}

.model {
    height: 700px;
    width: auto;
}

.product-brand {
    text-align: left;
    font-size: 14px;
}

.product-name {
    text-align: left;
}

.price {
    text-align: left;
    color: red;
}

.discount {
    color: black;
    text-decoration: line-through;
}